/* GLOBAL DEFS */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    --text: rgba(255, 255, 255, 0.87);
    --main: #242424;
    --primary: #272727;
    --secondary: #303030;
    --line: rgba(150, 150, 150, 0.801);

    /* COLOR VARS */

    --teal: #00b5ad;
    --olive: #a7bd0d;
    --red: #db2828;

    color: var(--text);
    background-color: var(--main);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* INVERTED MEDIA QUERY */

@media (prefers-color-scheme: light) {
    :root {
        --text: #213547;
        --main: #dbdbdb;
        --primary: #d8d8d8;
        --secondary: #cfcfcf;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/* FORCE BOXES TO MAX SIZE */

body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    min-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

#app {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    min-width: 100%;
    overflow-x: hidden;
    position: relative;
}

/* HELPER CLASSES */

.hidden {
    display: none;
}

/* COLOR CLASSES */

.teal {
    background-color: var(--teal);
    color: #fff;
}

.olive {
    background-color: var(--olive);
    color: #fff;
}

.red {
    background-color: var(--red);
    color: #151515;
}

/* LINKS */

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    box-sizing: border-box;
}
a:hover {
    color: #535bf2;
}

/* FORMS */

input {
    height: 2.5em;
    width: 100%;
    border: 1px solid var(--line);
    border-radius: 3px;
    background-color: var(--secondary);
    font-size: 0.85em;
}

input::placeholder {
    color: var(--text);
    opacity: 0.85;
}

/* TEXT */

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* BUTTONS */

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* SIDEBAR */

sidebar {
    left: -14em;
}
.open {
    left: 0;
}

pusher {
    margin-left: 0;
}
.push {
    margin-left: 14em;
}
.dim {
    opacity: 30%;
    cursor: pointer;
}
