* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* SIDEBAR */

#sidebar.open {
  transform: translateX(0);
}

main,
header {
  transition: margin-left 0.3s ease-in-out;
}

.push {
  margin-left: 12em;
}