body {
    overflow-x: hidden;
}

/* SIDEBAR */

sidebar {
    left: -14em;
}
.open {
    left: 0;
}

pushable {
    margin-left: 0 !important;
}
.push {
    margin-left: 14em !important;
}
.dim {
    opacity: 30%;
    cursor: pointer;
}
